@model IEnumerable<LimatamboAdmin.Models.Sede>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(@Html.DisplayFor(modelItem => item.ID).ToString(), "Details", new { id = item.ID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            <a class="btn btn-success" href="@Url.Action("Edit", new { id = item.ID })">
                <i class="fas fa-pen"></i>
            </a>
            <a class="btn btn-danger" href="@Url.Action("Delete", new { id = item.ID })">
                <i class="fas fa-trash"></i>
            </a>
        </td>
    </tr>
}

</table>
