@model LimatamboAdmin.Models.Especialidad

@{
    ViewBag.Title = "Eliminar";
}

    <h2 class="title">Eliminar @Html.Raw(LimatamboAdmin.Models.Especialidad.getNombre())</h2>

    <h3>¿Eliminar el registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagenVector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagenVector)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
